@mixin mainLogo {
   background: linear-gradient(180deg, #c7cafe 0%, #3d408f 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
   font-weight: 400;
   font-size: 37.3333px;
   line-height: 150%;
   font-family: "Itim", cursive;
}
@mixin textLinkHover {
   letter-spacing: 2.8px;
   color: crimson;
   transition-duration: 0.5s;
}
@mixin buttonHover {
   background-color: crimson;
   color: white;
   transition-duration: 0.5s;
   width: 125px;
   transition-property: all;
   transition-duration: 0.5s;
   transition-delay: 0s;
   transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@mixin buttonHoverPlus {
   background-color: blueviolet;
   color: white;
   transition-duration: 0.5s;
   transition-property: all;
   transition-duration: 0.5s;
   transition-delay: 0s;
   transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@mixin buttonAnimation {
   border-color: #3498db;
   color: #fff;
   box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
   -webkit-transition: all 150ms ease-in-out;
   transition: all 150ms ease-in-out;
   &:hover {
      box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
   }
}
@mixin headerTextOfParags {
   font-weight: 600;
   font-size: 36px;
   line-height: 150%;
   color: rgba(255, 255, 255, 0.8);
   text-align: center;
   margin-bottom: 20px;
}
@mixin AuxillaryTextOfParags {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   text-align: center;
   color: rgba(255, 255, 255, 0.4);
}
@mixin featuresList {
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: rgba(255, 255, 255, 0.8);
   margin-bottom: 16px;
   display: flex;
   align-items: center;
   &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background: #9799ce;
      border-radius: 50%;
      margin-right: 12px;
   }
}

@mixin svl-block__elementOne__headerParag {
   font-weight: 600;
   font-size: 47.2727px;
   line-height: 160%;
   color: #ffffff;
   opacity: 0.7;
}
@mixin svl-block__elementOne__auxilParag {
   font-weight: 400;
   width: 80%;
   font-size: 18px;
   line-height: 180%;
   color: rgba(255, 255, 255, 0.7);
}
@mixin bottomSubList {
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   color: rgba(255, 255, 255, 0.4);
}
@mixin bottomMainList {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: rgba(255, 255, 255, 0.8);
} ;
