@import "nullstyle.scss";
@import "mixin.scss";
@import "variables.scss";

body {
   background: #171836;
   overflow-x: hidden;
}
* {
   font-family: "Inter", sans-serif;
}
.wrapper {
   width: 100%;
   height: 100%;
   margin-top: 35px;
   .wrapper__container {
      max-width: 1312px;
      margin: 0px auto;
      @media (max-width: 1228px) {
         padding: 0 25px;
      }
      @media (max-width: 550px) {
         min-width: 550px;
      }
      .wrapper__firstLine {
         width: 100%;
         .wrapper__fswrk {
            max-width: 1200px;
            margin: 0px auto;
            .wrapper__fsrow {
               width: 100%;
               display: flex;
               justify-content: space-between;
               align-items: center;
               .fs-elementOne {
                  width: 20%;
                  font-weight: 400;
                  font-size: 26.1239px;
                  background: linear-gradient(180deg, #c7cafe 0%, #3d408f 100%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  text-fill-color: transparent;
                  font-family: "Itim", cursive;
                  transition-duration: 0.5s;
                  @media (max-width: 768px) {
                     width: 46%;
                  }
                  &:hover {
                     @include textLinkHover;
                     letter-spacing: 6.8px;
                  }
               }
               .fs__elementsTwoAndThree {
                  width: 80%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  @media (max-width: 768px) {
                     position: absolute;
                     top: 100px;
                     left: 0;
                     background-color: #3d408f;
                     width: 100%;
                     height: 420px;
                     flex-direction: column;
                     justify-content: space-around;
                     align-items: center;
                     display: none;
                     z-index: 59;
                  }

                  .fs-elementTwo {
                     & ul {
                        display: flex;
                        justify-content: space-between;
                        @media (max-width: 425px) {
                           flex-direction: column;
                           align-items: center;
                        }
                        & li:first-child {
                           margin-left: 0;
                           font-weight: 500;
                           font-size: 14px;
                           color: $activeButtonList;
                        }
                        & li {
                           margin-left: 50px;
                           margin-right: 0;
                           font-weight: 400;
                           font-size: 14px;
                           color: $unactiveButtonsList;
                           cursor: pointer;
                           transition-duration: 0.5s;
                           &:hover {
                              @include textLinkHover;
                           }
                           @media (max-width: 425px) {
                              margin-bottom: 30px;
                              margin-left: 0;
                           }
                        }
                     }
                  }
                  .fs-elementThree {
                     width: 24%;
                     display: flex;
                     justify-content: space-between;
                     @media (max-width: 960px) {
                        width: 32%;
                     }
                     @media (max-width: 768px) {
                        width: 70%;
                     }
                     .elementThree-lang {
                        display: flex;
                        align-items: center;
                        & p {
                           font-weight: 500;
                           font-size: 12px;
                           color: $langTextColor;
                           margin-right: 6px;
                           @media (max-width: 768px) {
                              color: white;
                           }
                        }
                     }
                     & button {
                        width: 102px;
                        height: 41px;
                        background: $fsLineBGButtonColor;
                        border-radius: 6px;
                        transition-duration: 0.5s;
                        color: white;
                        &:hover {
                           @include buttonHover;
                        }
                     }
                  }
               }
               .fs__elementsTwoAndThree__activi {
                  display: flex;
                  @media (max-width: 550px) {
                     min-width: 550px;
                  }
               }
               .fs-header__burgerWraper {
                  width: 60px;
                  height: 60px;
                  background-color: white;
                  border-radius: 50%;
                  display: block;
                  display: none;
                  @media (max-width: 768px) {
                     display: block;
                  }
                  .fs-header__burger {
                     display: flex;
                     justify-content: space-around;
                     flex-direction: column;
                     align-items: center;
                     width: 100%;
                     height: 100%;
                     & span {
                        width: 35px;
                        height: 4px;
                        background-color: black;
                     }
                  }
               }
            }
         }
      }
      .wrapper__secondLine {
         width: 100%;
         margin-top: 150px;
         .wrapper__slrow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 1400px) {
               flex-direction: column;
               align-items: center;
            }
            .slrow-elementOne {
               width: 44%;
               display: flex;
               flex-direction: column;
               align-items: start;
               justify-content: start;
               position: relative;
               @media (max-width: 1400px) {
                  width: 90%;
                  margin-bottom: 50px;
                  align-items: center;
               }
               .elementOne__images {
                  display: flex;
                  justify-content: space-evenly;
                  max-width: 100%;
                  .elementOne__lightbulbBlock {
                     position: absolute;
                     top: 80px;
                     left: 0;
                     width: 90px;
                     height: 90px;
                     background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
                     border-radius: 20px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     transform: rotate(-8.82deg);
                     @media (max-width: 530px) {
                        width: 60px;
                        height: 60px;
                     }
                  }
                  .elementOne__womanImg {
                     @media (max-width: 918px) {
                        width: 600px;
                        height: 450px;
                     }
                     @media (max-width: 530px) {
                        width: 300px;
                        height: 250px;
                     }
                  }
                  .elementOne__closedBookBlock {
                     position: absolute;
                     top: 0px;
                     right: 0;
                     width: 90px;
                     height: 90px;
                     background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
                     border-radius: 20px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     transform: rotate(12.79deg);
                     @media (max-width: 530px) {
                        width: 60px;
                        height: 60px;
                     }
                  }
               }
               .elementOne__lowestBlock {
                  width: 363px;
                  max-width: 363px;
                  height: 92px;
                  background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
                  border-radius: 20px;
                  display: flex;
                  justify-content: space-between;
                  transform: translate(300px, -100px);
                  @media (max-width: 1400px) {
                     transform: translate(0);
                  }

                  .elementOne__lowestBlock__wrk {
                     max-width: 96%;
                     margin: 0px auto;
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                  }
                  .lowestBlock__elementOne {
                     width: 80%;
                     display: flex;
                     justify-content: center;
                     & img {
                        width: 30px;
                        height: 30px;
                     }
                     .lowestBlock__plusButtonWrapper {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        & button {
                           border-radius: 50%;
                           transition-duration: 0.5s;
                           &:hover {
                              @include buttonHoverPlus;
                           }
                        }
                     }
                  }
                  .lowestBlock__elementTwo {
                     font-weight: 500;
                     font-size: 14px;
                     line-height: 160%;
                     color: #bbbbc4;
                     & span {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 160%;
                        color: #fb5048;
                     }
                  }
               }
            }
            .slrow-elementTwo {
               width: 45%;
               @media (max-width: 1400px) {
                  width: 90%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
               }

               .elementTwo__headerText {
                  font-weight: 600;
                  font-size: 56px;
                  line-height: 130%;
                  letter-spacing: -0.01em;
                  color: rgba(255, 255, 255, 0.8);
                  @media (max-width: 1400px) {
                     text-align: center;
                  }
               }
               .elementTwo__lightVisibleText {
                  @include AuxillaryTextOfParags;
                  text-align: start;
                  margin: 50px 0;
                  @media (max-width: 1400px) {
                     text-align: center;
                  }
               }
               .elementTwo__searchBar {
                  display: flex;
                  justify-content: space-between;
                  width: 70%;
                  align-items: center;
                  @media (max-width: 756px) {
                     width: 95%;
                  }
                  .elementTwo__searchBar__input {
                     width: 85%;
                     height: 69px;
                     background: #1f2143;
                     border-radius: 12px;
                     font-size: 16px;
                     color: rgba(255, 255, 255, 0.4);
                     padding-left: 20px;
                  }
                  .elementTwo__searchBar__searchButton {
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 44px;
                     height: 44px;
                     transform: translateX(-10px);
                     background: #282b57;
                     border-radius: 6px;
                     transition-duration: 0.5s;
                     &:hover {
                        @include buttonHoverPlus;
                     }
                  }
               }
               .elementTwo__suggsText {
                  font-weight: 400;
                  font-size: 18px;
                  color: rgba(255, 255, 255, 0.4);
                  margin: 48px 0;
               }
               .elementTwo__buttonsPair {
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 34px;
                  @media (max-width: 1400px) {
                     width: 90%;
                  }
                  @media (max-width: 658px) {
                     flex-direction: column;
                     align-items: center;
                     margin-bottom: 40px;
                  }

                  .elementsTwo__buttonsPair__button-sizeOne {
                     width: 123px;
                     height: 37px;
                  }
                  .elementsTwo__buttonsPair__button-sizeTwo {
                     width: 154px;
                     height: 37px;
                  }
                  .elementsTwo__buttonsPair__button-sizeThree {
                     width: 178px;
                     height: 37px;
                  }
                  .elementsTwo__buttonsPair__button-sizeFour {
                     width: 181px;
                     height: 37px;
                  }
                  .elementsTwo__buttonsPair__button-sizeFive {
                     width: 119px;
                     height: 37px;
                  }
                  .elementsTwo__buttonsPair__button-sizeSix {
                     width: 114px;
                     height: 37px;
                  }
                  .elementsTwo__buttonsPair__button {
                     font-weight: 400;
                     font-size: 14px;
                     line-height: 150%;
                     color: rgba(154, 156, 203, 0.6);
                     background: #171836;
                     border: 1px solid rgba(154, 156, 203, 0.6);
                     border-radius: 8px;
                     transition-duration: 150ms;
                     &:hover {
                        @include buttonAnimation;
                     }
                     @media (max-width: 658px) {
                        margin-bottom: 40px;
                        width: 80%;
                     }
                  }
               }
            }
         }
      }
      .wrapper__thirdLine {
         width: 100%;
         margin-top: 50px;

         .wrapper__thlwrk {
            max-width: 1210px;
            margin: 0px auto;
            .wrapper__thlrow {
               display: flex;
               justify-content: space-between;
               @media (max-width: 1020px) {
                  flex-direction: column;
                  align-items: center;
               }

               .thlrow-element {
                  width: 30%;
                  display: flex;
                  @media (max-width: 1020px) {
                     width: 90%;
                     margin-bottom: 50px;
                  }

                  .thlrow-element__imgWrapper {
                     border: 1px solid;
                     border-image-source: linear-gradient(180deg, #4db88d 0%, #2c2e59 100%);
                     width: 48px;
                     height: 48px;
                     border-radius: 50%;
                     margin-right: 20px;
                  }
                  .thlrow-element__parags {
                     & p:nth-child(1) {
                        font-weight: 600;
                        font-size: 20px;
                        color: rgba(255, 255, 255, 0.7);
                        margin-bottom: 30px;
                     }
                     & p:nth-child(2) {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 170%;
                        color: rgba(255, 255, 255, 0.6);
                     }
                  }
               }
            }
         }
      }
      .wrapper__fourthLine {
         width: 100%;
         margin-top: 50px;
         .wrapper__frlwrk {
            max-width: 1200px;
            margin: 0px auto;
            .frl-elementOne {
               width: 100%;
               & p:nth-child(1) {
                  @include headerTextOfParags;
               }
               & p:nth-child(2) {
                  @include AuxillaryTextOfParags;
               }
            }
            .frl-row {
               width: 100%;
               display: flex;
               justify-content: space-between;
               margin-top: 50px;
               @media (max-width: 1240px) {
                  flex-direction: column;
                  align-items: center;
               }
               .frl-element {
                  width: 23%;
                  height: 412px;
                  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
                  border-radius: 20px;
                  border: 3px solid rgba(255, 255, 255, 0.2);
                  transition-duration: 0.5s;
                  @media (max-width: 1240px) {
                     width: 90%;
                     margin-bottom: 50px;
                  }
                  .frl-element__wrk {
                     max-width: 92%;
                     margin: 0px auto;
                     margin-top: 10px;
                     .frl-element__imgBlock {
                        width: 100%;
                        height: 169px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        border-radius: 20px;
                        margin-bottom: 24px;
                        @media (max-width: 1240px) {
                           justify-content: start;
                        }
                        & button {
                           position: absolute;
                           bottom: 10px;
                           left: 10px;
                           width: 88px;
                           height: 30px;
                           background: rgba(255, 255, 255, 0.2);
                           border-radius: 8px;
                           font-size: 12px;
                           line-height: 150%;
                           color: #ffffff;
                        }
                     }
                     .frl-element__paragraphHeader {
                        font-weight: 500;
                        font-size: 12px;
                        color: #3bf5bd;
                        margin-bottom: 8px;
                     }
                     .frl-element__paragraphBodyTextOne {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 150%;
                        color: rgba(255, 255, 255, 0.8);
                        margin-bottom: 12px;
                     }
                     .frl-element__paragraphBodyTextTwo {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        color: rgba(255, 255, 255, 0.4);
                        margin-bottom: 20px;
                     }
                     .frl-element__horizontalLine {
                        width: 100%;
                        border: 1px solid #292b56;
                        margin-bottom: 20px;
                     }
                     .frl-element__profileInformation {
                        display: flex;
                        margin-bottom: 29px;
                        .profileInformationImageCirle {
                           width: 40px;
                           height: 40px;
                           border-radius: 50%;
                           margin-right: 15px;
                        }
                        .profileInformation-text {
                           & p:nth-child(1) {
                              font-weight: 500;
                              font-size: 14px;
                              line-height: 150%;
                              color: rgba(255, 255, 255, 0.8);
                           }
                           & p:nth-child(2) {
                              font-weight: 400;
                              font-size: 12px;
                              line-height: 150%;
                              color: rgba(255, 255, 255, 0.4);
                           }
                        }
                     }
                     .frl-element__buttonWrapper {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition-duration: 150ms;
                        & button:hover {
                           @include buttonAnimation;
                           transition-duration: 150ms;
                        }
                     }
                  }
               }
               .frl-element__activi {
                  height: 485px;
               }
            }
            .frl-buttonElement {
               margin-top: 50px;
               display: flex;
               justify-content: center;
               align-items: center;
               & button {
                  border: 1px solid rgba(245, 68, 59, 1);
                  width: 198px;
                  height: 51px;
                  font-weight: 700;
                  font-size: 16px;
                  color: #f5443b;
                  background: #171836;
                  transition-duration: 0.5s;
                  &:hover {
                     @include buttonAnimation;
                     transition-duration: 0.5s;
                  }
               }
            }
         }
      }
      .wrapper__fifthLine {
         width: 100%;
         margin-top: 150px;
         .wrapper__fflwrk {
            max-width: 1200px;
            margin: 0px auto;
            .wrapper__fflwrk__elementOne {
               width: 100%;
               display: flex;
               flex-direction: column;
               align-items: center;
               .fflwrk-elementOne-headerParag {
                  @include headerTextOfParags;
               }
               .fflwrk-elementOne-auxParag {
                  @include AuxillaryTextOfParags;
               }
            }
            .wrapper__fflwrk__elementTwo {
               width: 100%;
               display: flex;
               justify-content: center;
               margin-top: 150px;
               @media (max-width: 1452px) {
                  flex-direction: column;
                  align-items: center;
               }
               .fflwrk-elementTwo__centralImage {
                  & img {
                     @media (max-width: 632px) {
                        width: 500px;
                        height: 300px;
                     }
                  }
               }
            }
            .wrapper__fflwrk__elementThree {
               display: flex;
               align-items: center;
               justify-content: end;
               margin-top: 50px;
               & p {
                  font-weight: 500;
                  font-size: 14px;
                  color: #d1d1d7;
                  text-shadow: 0px 5px 10px #2e3062;
                  transition-duration: 0.5s;
                  &:hover {
                     @include textLinkHover;
                  }
               }
               & img {
                  transform: translateY(5px);
               }
            }
         }
      }
      .wrapper__sixthLine {
         width: 100%;
         margin-top: 150px;
         .wrapper__slxWrk {
            max-width: 1200px;
            margin: 0px auto;
            .wrapper__slxWrk__elementOne {
               margin-bottom: 75px;
               .slxWrk__elementOne__headerParag {
                  @include headerTextOfParags;
               }
               .slxWrk__elementOne__auxParag {
                  @include AuxillaryTextOfParags;
               }
            }
            .wrapper__slxWrk__elementTwo {
               width: 100%;
               display: flex;
               justify-content: space-between;
               @media (max-width: 928px) {
                  flex-direction: column;
                  align-items: center;
               }
               .slxWrk__block {
                  width: 32%;
                  height: 515px;
                  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
                  border-radius: 20px;
                  border: 1px solid rgba(255, 255, 255, 0.1);
                  position: relative;
                  @media (max-width: 928px) {
                     width: 100%;
                     margin-bottom: 50px;
                  }
                  .slxWrk__blockWrk {
                     max-width: 85%;
                     height: 100%;
                     margin: 0px auto;
                     margin-top: 15px;
                     .block-element__price {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        margin-bottom: 29px;
                        .block-element__price__img {
                           margin-right: 10px;
                           border-radius: 50%;
                           width: 56px;
                           height: 56px;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           border: 1px solid #3bf5bd;
                        }
                        .block-element__price__img__blue {
                           border: 1px solid rgba(76, 94, 157, 1);
                        }
                        .block-element__price__img__orange {
                           border: 1px solid #f5453d;
                        }
                        .block-element__price__text {
                           & p:nth-child(1) {
                              font-size: 18px;
                              line-height: 150%;
                              color: rgba(255, 255, 255, 0.8);
                           }
                           & p:nth-child(2) {
                              font-weight: 500;
                              font-size: 11px;
                              line-height: 150%;
                              color: rgba(255, 255, 255, 0.8);
                              display: flex;
                              align-items: center;
                              & span:nth-child(1) {
                                 font-weight: 700;
                                 font-size: 14px;
                                 line-height: 150%;
                                 color: #f5453d;
                                 display: block;
                                 transform: translateY(-10px);
                              }
                              & span:nth-child(2) {
                                 font-weight: 700;
                                 font-size: 28px;
                                 line-height: 150%;
                                 color: #f5453d;
                              }
                           }
                        }
                     }
                     .block-element__horizontalLine {
                        width: 100%;
                        border: 1px solid #272953;
                        height: 0;
                        margin-bottom: 29px;
                     }
                     .block-element__featuresList {
                        width: 100%;
                        & ul {
                           & li {
                              @include featuresList;
                           }
                        }
                     }
                     .block-element__button {
                        width: 100%;
                        margin-top: 50px;
                        & button {
                           width: 100%;
                           height: 39px;
                           opacity: 0.5;
                           border: 1px solid #f5443b;
                           border-radius: 6px;
                           background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
                           border-radius: 6px;
                           color: #f5443b;
                           &:hover {
                              @include buttonAnimation;
                           }
                        }
                        .block-element__RedButton {
                           border: 1px solid #f5443b;
                           color: #f5443b;
                           opacity: 1;
                        }
                        .block-element__veryRedButton {
                           background: #f5443b;
                           opacity: 1;
                           color: #ffffff;
                        }
                     }
                     .block-element__popularOfferElement {
                        width: 70px;
                        height: 70px;
                        background-color: tomato;
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-radius: 10%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & p {
                           font-weight: 600;
                           font-size: 12px;
                           line-height: 150%;
                           color: rgba(255, 255, 255, 0.8);
                        }
                     }
                  }
               }
            }
         }
      }
      .wrapper__seventhLine {
         width: 100%;
         margin-top: 100px;
         .wrapper__svlWrk {
            max-width: 1200px;
            margin: 0px auto;
            .wrapper__svlWrk__block {
               width: 100%;
               background: linear-gradient(102.01deg, #23265c 1.96%, #352a56 101.68%);
               border-radius: 40px;
               .svl-blockWrk {
                  max-width: 1050px;
                  margin: 0px auto;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  @media (max-width: 1150px) {
                     flex-direction: column;
                     align-items: center;
                  }
                  .svl-block__elementOne {
                     width: 60%;
                     @media (max-width: 1150px) {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                     }
                     .svl-block__elementOne__headerParag {
                        @include svl-block__elementOne__headerParag;
                        @media (max-width: 1150px) {
                           width: 100%;
                           text-align: center;
                        }
                     }
                     .svl-block__elementOne__auxilParag {
                        @include svl-block__elementOne__auxilParag;
                        @media (max-width: 1150px) {
                           width: 100%;
                           text-align: center;
                        }
                     }
                     .svl-block__elmentOne__blocks {
                        width: 60%;
                        display: flex;
                        justify-content: space-between;
                        @media (max-width: 616px) {
                           width: 90%;
                        }
                        & button:nth-child(1) {
                           width: 164px;
                           height: 72px;
                           background: url("/img/appStore.png") no-repeat center;
                           background-size: contain;
                        }
                        & button:nth-child(2) {
                           width: 164px;
                           height: 72px;
                           background: url("/img/googlePlay.png") no-repeat center;
                           background-size: contain;
                        }
                     }
                  }
                  .svl-block__elementTwo {
                     width: 40%;
                     @media (max-width: 1150px) {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                     }
                  }
               }
            }
         }
      }
   }
}
